@import "tailwindcss";

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-fadeInLeft {
    animation: fadeInLeft 0.2s ease-out forwards;
}